# OPEA
beautifulsoup4
docarray[full]
fastapi
numpy
opentelemetry-api
opentelemetry-exporter-otlp
opentelemetry-sdk
pandas
Pillow
prometheus_fastapi_instrumentator
shortuuid

# microservice
opencv-python-headless
langchain
langchain-core
langchain-experimental
langchain-text-splitters
langchain-community
setuptools
open-clip-torch
vdms
faiss-cpu
tzlocal
decord
einops
torch
torchvision
