# OPEA
beautifulsoup4
docarray[full]
fastapi
numpy
opentelemetry-api
opentelemetry-exporter-otlp
opentelemetry-sdk
pandas
Pillow
prometheus_fastapi_instrumentator
shortuuid

# microservice
opencv-python-headless
langchain
langchain-core
langchain-experimental
langchain-text-splitters
langchain-community
langsmith
setuptools
open-clip-torch==2.24.0
vdms
faiss-cpu
tzlocal
decord
einops
torch==1.13.1 --index-url https://download.pytorch.org/whl/cpu # videollama
torchvision==0.14.1 --index-url https://download.pytorch.org/whl/cpu # videollama
